:root {
  --gradient: linear-gradient(230deg, #fe6b0c 2.16%, #fe012f 87.97%);
  --background-100: #252221;
  --background-200: #1b1919;
  --background-300: #181514;
  --background-400: #151211;
  --background-500: #120f0e;
  --grey-100: #d9d9d9;
  --grey-200: #bfbfbf;
  --grey-300: #aeaeae;
  --grey-400: #535353;
  --text-white: #f1f1f1;
  --text-black: #131211;
}
