.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1.6rem;

  a {
    font-size: 1.6rem;
    color: var(--grey-300);
    text-decoration: none;
  }
}
